
 #sidebar{
  background-color: aliceblue;
  height: 100vh;
  width: 30%;
 }
 #chat_interface{
  background-color: aliceblue;
  height: 100vh;
  width: 70%;
 }
 #chatwindow{
   background-color: rgb(252, 245, 245);
   height: 90vh;
   padding: 5vh;
   padding-bottom: 0vh;
   overflow: auto;
 }
 
 .interface{
   background-color:  rgba(10, 83, 114, 0.9);
   height: 10vh;  
   display: flex;
 }
 .form-group{
     width: 100%;
     height: 100%;
 }
.btn{
    height: 100%;
}

.message_user{
  background-color: rgb(192, 184, 199);
  border-radius: 25px;
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
  text-align: right;
  white-space: pre-line;
  margin: 2px;
}

.user_container{
  display: flex;
  justify-content: flex-end;
  flex-direction:column;
  margin-left: 40vw;
}

.bot_container{
  display: inline-flex;
  justify-content: flex-start;
  flex-direction:column;
  margin-right: 40vw;
  margin-bottom: 10vh;
}

.message_bot{
  background-color: rgb(84, 146, 228);
  border-radius: 25px;
  padding: 10px;
  text-align: left;
  display: inline-block;
  white-space: pre-line;
  margin: 2px;
}
.form-control{
  max-height: 100%;
}

html{
  margin:0;
  padding:0;
  max-height:100vh;
  overflow:hidden;
}

body {
  background: rgba(1, 1, 1, 1);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.choice_container{
  display: flex;
  justify-content: center;
  flex-direction:column;
  padding: 5px;
}


#thinking {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}