# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ReactApp/node_modules
/ReactApp/.pnp
/ReactApp/.pnp.js

# testing
/ReactApp//coverage

# production
/ReactApp//build

# misc
/ReactApp/.DS_Store
/ReactApp/.env.local
/ReactApp/.env.development.local
/ReactApp/.env.test.local
/ReactApp/.env.production.local

/ReactApp/npm-debug.log*
/ReactApp/yarn-debug.log*
/ReactApp/yarn-error.log*
model/database/authentication.json
model/nlp/model_file_url
ngrok/
__pycache__/extra_functions.cpython-36.pyc
__pycache__/flask_page.cpython-36.pyc
model/database/__pycache__/Experiment.cpython-36.pyc
__pycache__/flask_page.cpython-36.pyc
