<html>
  <head>
    <title>Biased Bot</title>
  </head>
  <body>
    <h1>Tune experiment</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.parameter.label }}
            {{ form.parameter(size=32) }}
        </p>
        <p>
            {{ form.arguement_type.label }}
            {{ form.arguement_type}}
        </p>
        <p>
          {{ form.strategy.label }}
          {{ form.strategy}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>



