<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Chatbot</title>
<script>const user_id =  "{{user_id}}" </script>
</head>
<body>
  <div id="sidebar"></div>
  <div id ="chat_interface">   
    <div class = "chatbox" id="chatwindow">
    </div>
    <div class = "interface"> 
                    <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" onkeypress="sendOnEnter(event)"></textarea>
                      </div>
           <button id="send" type="button" class="btn btn-primary">SEND</button>
    </div>
  </div>
</div>


  <script src="../static/js/script.js"></script>
</body>
</html>
