<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="/static/css/style.css">
<title>Chatbot</title>
<script>const user_id =  "{{user_id}}"; 
        const experiment= "{{experiment}}";
        const bot_type = "{{bot_type}}";
        const topic = "{{topic}}" ;
</script>
</head>
<body>
  <div id="sidebar">
  <img src="/static/img/The-University-of-Melbourne-Logo.png" id="logo">
  </div>
  <div id ="chat_interface">   
    <div id="chatwindow"></div>
    <div id = "interface"> 
                            <textarea onkeypress="sendOnEnter(event)" id="textMessage"></textarea>

           <button id="send" class="btn" >SEND</button>
    </div>
  </div>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>