<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="../static/css/style.css">
<title>Chatbot</title>
<script>const user_id =  "{{user_id}}" </script>
</head>
<body>
  <div id="sidebar">
  <img src="../static/img/The-University-of-Melbourne-Logo.png" id="logo">
  </div>
  <div id ="chat_interface">   
    <div id="chatwindow">

        <div class="bot_container"  > 
        <div class="message_bot"> hello my name is neeserg bla bla bala. what is up bro? </div>
        <div class="choice_container">          
        <button class = "option"> hello world</button>    
        <button class = "option"> hell fvs</button>    
        <button class = "option"> hell s fsf</button>    
        </div>   
      </div>

      <div class="user_container"  >  <div class="message_user"> Nothing much, yourself?</div> </div>

    </div>


    <div id = "interface"> 
                            <textarea onkeypress="sendOnEnter(event)" id="textMessage"></textarea>

           <button id="send" class="btn" >SEND</button>
    </div>
  </div>
</div>


</body>
</html>
